<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #00215E; font-family: monospace, monospace;">
    

    <div style="max-width: 600px; margin: 50px auto; background-color: #DEDEFB; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #2a2a2a; text-align: center;">Disease Prediction</h2>


        <div class="enclosure"><div class="custom-select"><div class="select-box">
            <input type="text" class="tags-input" names="tags" hidden />

            <div class="selected-options">
            </div>
            <div class="arrow">
                <i class="fa fa-angle-down"></i>
            </div></div>
            <div class="options">
                <div class="option-search-tags">
                    <input type="text" class="search-tags" placeholder="Search tags..."/>
                    <button type="button" class="clear">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
    
                <div class="option all-tags" data-value="All">Select All</div>
    
                {{ symptom_list_html |safe }} 
                <!-- This list is to be rendered on '/' route of flask app has the sytnax of : 
                    " <div class="option" data-value="{symptom-x}"> Symptom-x </div> " -->
                
                <div class="no-match" style="display: none;">No Result Match</div>
                <span class="tag_error_msg error"></span></div>
                <input type="button" class="btn_submit" value="Submit"/>
            </div>
        </div>
        <br><br> 
        <div class="predicted-disease">The predicted disease is </div>  
    </div>
    
    <script src="{{ url_for('static', filename='new_script.js')}}" defer></script>
</body>
</html>
